<%- include('partials/header') %>
<div class="jumbotron centered" style="background-color: #EEEBDD;padding-top:200px;padding-bottom:200px;" >
    <div class="container" style="text-align: center;">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3">Welcome</h1>
      <hr>
      <a class="btn btn-light btn-lg"  href="/register" role="button" style="margin-right: 10px;">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a> 
    </div>
  </div>
<%- include('partials/footer') %>
